#site_pages
  - @site.pages.each do |page|
    .site_row{:id => "site_row_#{page.filename}"}
      %span{:title => "Page: #{page.name}"}
        = page.name
      %a{:href => '#', :class => 'btn_anchor btn_secondary', :title => 'See the elements defined in this page'} Elements
      %a{:href => '#', :class => 'btn_anchor btn_secondary code_button', :filename => "#{page.filename}", :title => 'See the code in this page'} View Code
    %div{:id => "code_#{page.filename}", :class => 'source_code'}
      %pre{:class => 'brush:ruby'}
        = page.content